  <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://www.w3.org/ns/widgets"
            id="com.example.CordovaPlugin" version="0.0.1">
        <name>Echo</name>
        <description>Cordova Device Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,device</keywords>
	<asset src="www/echo.js" target="js/echo.js"/>
	 <js-module src="www/echo.js" name="echo">
    	 <clobbers target="echo" />
  	 </js-module>


        <platform name="android">
             <config-file target="res/xml/config.xml" parent="/*">
                <feature name="Echo">
                    <param name="android-package" value="com.example.CordovaPlugin.Echo"/>
                </feature>
            </config-file>
	            
	<source-file src="src/android/Echo.java" target-dir="src/com/example/CordovaPlugin/"/>
  	</platform>


        
    </plugin>
